@model IEnumerable<DBSmartAPIManager.DAL.Entities.User>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Upload Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.UploadDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="User" asp-action="Create">Create New</a>
