 @model SmartAPIManager.Web.Models.ProjectEditModel


@{
    ViewData["Title"] = Model.ProjectId == 0 ? "Create Project" : "Edit Project";
    Layout = "_Layout";
}

<div class="container create-project-page">
    <h2>@(Model.ProjectId == 0 ? "Create Project" : "Edit Project")</h2>

    


    <form asp-action="Edit" method="post" enctype="multipart/form-data">

        <input type="hidden" name="ProjectId" value="@Model.ProjectId" />

        

        <div class="form-group">
            <label for="project-name">Project Name:</label>
            <input type="text" id="project-name" name="Name" class="form-control" value="@Model.Name" />
        </div>

        <div class="form-group">
            <label for="project-description">Project Description:</label>
            <textarea id="project-description" name="Description" class="form-control" required>@Model.Description</textarea>
        </div>

        <div class="form-group">
            <label for="project-file">Project Files:</label>
            <input type="file" id="project-file" name="ProjectFile" multiple class="form-control" />
            @if (Model.ExistingFiles != null && Model.ExistingFiles.Any())
            {
                <ul>
                    @foreach (var file in Model.ExistingFiles)
                    {
                        <li>
                            <a href="@file.FileWay" target="_blank">@file.FileName</a>
                            <input type="checkbox" name="FilesToDelete" value="@file.ProjectFileId" /> Sil
                        </li>
                    }
                </ul>
            }

            <input type="hidden" id="project-name" name="ExistingFiles" class="form-control" value="@Model.Name" />
        </div>


        

        <div class="form-group">
            <label for="project-date">Date:</label>
            <input type="date" id ="project-date" name="UploadDate" class="form-control" value="@Model.UploadDate.ToString("yyyy-MM-dd")" />
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>

    </form>

</div>


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>
}