@model IEnumerable<DBSmartAPIManager.DAL.Entities.Project>

@{
    ViewData["Title"] = "Projects";
}

<h2><Projects/h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Upload Date</th>
            <th>User Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.UploadDate.ToString("yyyy-MM-dd")</td>
                    <td>@item.UserId</td>
                    <td>
                        <a asp-controller="Project" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Project" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    
</table>
<a asp-controller="Project" asp-action="Create">Create New</a>
