@model IEnumerable<DBSmartAPIManager.DAL.Entities.ProjectJson>

@{
    ViewData["Title"] = "Project Jsons";
}

<h2>Project Json</h2>

<table class="table">
    <thead>
        <tr>
            <th>Json Name</th>
            <th>Request URL</th>
            <th>Upload Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.JsonName</td>
                <td>@item.RequestUrl</td>
                <td>@item.UploadDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-controller="ProjectJson" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="ProjectJson" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<a asp-controller="ProjectJson" asp-action="Create">Create New</a>